<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>
<%= render_crumbs%>
<h1>Comment Details...</h1>
          commenter:<%= @c.title %></br>
              comment:<%= @c.author %> </br>

